In [9]:
import pandas as pd

# Replace 'file1.csv' and 'file2.csv' with the paths to your CSV files
# file1_path = 'wrkpl_key_d_wrkpl_dev.csv'
# file2_path = 'wrkpl_key_d_wrkpl_test.csv'
# 
# 
# file1_path = 'wrkpl_key_f_emp_tmst_dev.csv'
# file2_path = 'wrkpl_key_f_emp_tmst_test.csv'
# 
# 
file1_path = 'wrkpl_key_f_fin_prft_dev.csv'
file2_path = 'wrkpl_key_f_fin_prft_test.csv'


# Reading the CSV files into dataframes
df_dev = pd.read_csv(file1_path)
df_test = pd.read_csv(file2_path)

# Now df1 and df2 contain the data from your CSV files

In [10]:

# Extracting the 'wrkpl_key' column from each dataframe
wrkpl_key_df_dev = set(df_dev['wrkpl_key'])
wrkpl_key_df_test = set(df_test['wrkpl_key'])

# Finding wrkpl_keys present only in one dataframe but not in the other
wrkpl_key_only_in_df_dev = wrkpl_key_df_dev - wrkpl_key_df_test
wrkpl_key_only_in_df_test = wrkpl_key_df_test - wrkpl_key_df_dev

# Printing the results
print("wrkpl_keys only in df_dev:", wrkpl_key_only_in_df_dev)
print("wrkpl_keys only in df_test:", wrkpl_key_only_in_df_test)

len(wrkpl_key_only_in_df_dev), len(wrkpl_key_only_in_df_test)

wrkpl_keys only in df_dev: {'ro.charisma_hr_01.vw_position.3213', 'ro.charisma_hr_01.vw_position.3220', 'ro.charisma_hr_01.vw_position.3210', 'ro.charisma_hr_01.vw_position.3216', 'ro.charisma_hr_01.vw_position.3219', 'ro.charisma_hr_01.vw_position.3223', 'ro.charisma_hr_01.vw_position.3218', 'ro.charisma_hr_01.vw_position.3241', 'ro.charisma_hr_01.vw_position.3191', 'ro.charisma_hr_01.vw_position.3224', 'ro.charisma_hr_01.vw_position.3228', 'ro.charisma_hr_01.vw_position.3214', 'ro.charisma_hr_01.vw_position.3211', 'ro.charisma_hr_01.vw_position.3212', 'ro.charisma_hr_01.vw_position.3132', 'ro.charisma_hr_01.vw_position.3221', 'ro.charisma_hr_01.vw_position.3217', 'ro.charisma_hr_01.vw_position.3222'}
wrkpl_keys only in df_test: {'ro.charisma_hr_01.vw_position.1183', 'ro.charisma_hr_01.vw_position.2062', 'ro.charisma_hr_01.vw_position.925', 'ro.charisma_hr_01.vw_position.2080', 'ro.charisma_hr_01.vw_position.1782', 'ro.charisma_hr_01.vw_position.1644', 'ro.charisma_hr_01.vw_position.1817', 'ro.charisma_hr_01.vw_position.1709', 'ro.charisma_hr_01.vw_position.1767', 'ro.charisma_hr_01.vw_position.1779'}

(18, 10)

In [43]:
# Merge the dataframes on 'prod_key' column
merged_df = pd.merge(df1, df2, on='prod_key', how='inner', suffixes=('_ada', '_drmax'))
merged_df = merged_df.round(2)

# If you want to include prod_keys that are only in one dataframe, you can use 'outer' instead of 'inner'
# merged_df = pd.merge(df1, df2, on='prod_key', how='outer',suffixes=('_ada', '_drmax'))
# merged_df = merged_df.round(2)

# Display the merged dataframe
merged_df.head()

,prod_key,qty_ada,local_acg_ada,local_disc_ada,qty_drmax,local_acg_drmax,local_disc_drmax
0,1048582,136.71,4323.06,3948.58,136.71,3966.33,3824.15
1,1048616,29.00,150.10,150.10,29.00,126.15,126.15
2,1048672,171.66,4261.26,4019.20,171.67,3909.62,3687.48
3,1048673,14.50,365.10,332.85,14.50,334.95,305.37
4,1048674,170.00,4518.40,4248.52,170.00,4145.25,4081.90

In [44]:
# # Create new columns to indicate differences
merged_df['qty_diff'] = (merged_df['qty_ada'] != merged_df['qty_drmax'])
merged_df['local_acg_diff'] = (merged_df['local_acg_ada'] != merged_df['local_acg_drmax'])
merged_df['local_disc_diff'] = (merged_df['local_disc_ada'] != merged_df['local_disc_drmax'])

# Display the updated dataframe
merged_df.head()


# Calculate the differences and store them in new columns
merged_df['qty_diff_val'] = (merged_df['qty_ada'] - merged_df['qty_drmax']).round(2)
merged_df['local_acg_diff_val'] = (merged_df['local_acg_ada'] - merged_df['local_acg_drmax']).round(2)
merged_df['local_disc_diff_val'] = (merged_df['local_disc_ada'] - merged_df['local_disc_drmax']).round(2)

# Display the updated dataframez
merged_df.head()

,prod_key,qty_ada,local_acg_ada,local_disc_ada,qty_drmax,local_acg_drmax,local_disc_drmax,qty_diff,local_acg_diff,local_disc_diff,qty_diff_val,local_acg_diff_val,local_disc_diff_val
0,1048582,136.71,4323.06,3948.58,136.71,3966.33,3824.15,False,True,True,0.00,356.73,124.43
1,1048616,29.00,150.10,150.10,29.00,126.15,126.15,False,True,True,0.00,23.95,23.95
2,1048672,171.66,4261.26,4019.20,171.67,3909.62,3687.48,True,True,True,-0.01,351.64,331.72
3,1048673,14.50,365.10,332.85,14.50,334.95,305.37,False,True,True,0.00,30.15,27.48
4,1048674,170.00,4518.40,4248.52,170.00,4145.25,4081.90,False,True,True,0.00,373.15,166.62

In [37]:
column_sums = merged_df.sum().round(2)


# Display the sums
print(column_sums)

prod_key               5.940595e+11
qty_ada                6.786338e+05
local_acg_ada          1.625317e+07
local_disc_ada         1.422086e+07
qty_drmax              6.786334e+05
local_acg_drmax        1.445360e+07
local_disc_drmax       1.291227e+07
qty_diff               2.060000e+02
local_acg_diff         3.539000e+03
local_disc_diff        3.358000e+03
qty_diff_val           3.800000e-01
local_acg_diff_val     1.799572e+06
local_disc_diff_val    1.308589e+06
dtype: float64